<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
	{% block mainmenu %}
<ul class="mainmenu">
{% for p in menu %}
<li><a href="{{p.url}}">{{p.title}}</a></li>
{% endfor %}
</ul>
    {% endblock mainmenu %}
<div class="clear"></div>
<div class="content">
    {% if title -%}
        <h1> {{title}} </h1>
    {% else -%}
        <h1>Про ЗОЖ</h1>
    {% endif %}
</div>
{% endblock content %}
</body>
</html>